<!doctype html>
<html ng-app="JSONedit">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JSON Editor</title>
    <!--js lib-->
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/jquery-ui.min.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/sortable.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/jquery.json-view.js"></script>
    <script src="../scripts/angular-file-upload.js"></script>
    <script src="../scripts/autosize.js"></script>
    <script>
        autosize(document.querySelectorAll('textarea'));
    </script>
    <!--css lib-->
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/myStyle.css" rel="stylesheet" type="text/css" />
    <link href="../css/jquery.json-view.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet">

    <!--main js--> 
    <script src="../js/directives.js"></script>
    

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" ng-controller="HomeCtrl">
                <a class="navbar-brand" href="#">{{appTitle}}</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Example</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </nav>

    <div class="container theme-showcase" ng-controller="MainViewCtrl">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">INPUT</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-file-drop ng-file-select drag-over-class="dragover" class='dropbox' ng-multiple="false" accept=".txt,.csv" ng-model='uploadedFile'>
                            Drop files here <em>Or</em> click to upload.
                        </div>
                        <div class="alert alert-info" ng-show="uploadedFile">
                            File was uploaded: <p ng-repeat='f in uploadedFile'>{{f.name}}</p>
                        </div>
                        <div class="alert alert-danger" id="mess" style="display:none;">
                            <strong>Error!</strong> Please check format of JSON file.
                        </div>
                        <hr class="style">
                        <div id="mainView">
                            <div class="jsonView">
                                <json child="jsonData" default-collapsed="false" type="object"></json>
                            </div>
                        </div>
                    </div>

                    <div class="panel-heading" style="border-top-left-radius:0 !important;border-top-right-radius:0 !important;">
                        <h3 class="panel-title">OUTPUT</h3>
                    </div>
                    <div class="panel-body" id="result">
                        <div>
                            <div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">Text view</div>
                                    <div class="panel-body">
                                        <textarea class='form-control' id="jsonTextarea" ng-model="jsonString"></textarea>
                                        <span class="red" ng-if="!wellFormed">JSON not well-formed!</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="panel panel-info">
                                <div class="panel-heading"> Tree View</div>
                                <div class="panel-body">
                                    <div id="element"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>
</html>
