 .navbar {
      
      border-radius: 0;
    }
.dropbox{
            border: 2px dashed #0087F7;
            border-radius: 5px;
            background: white;
		    
		    max-width: 500px;
		   
            min-height:120px;
		    text-align: center;
		    padding-top: 25px;
		    margin: 10px auto;
		}
.dragover {
		    border: 4px dashed blue;
		}
.entry:not(:first-of-type){
    margin-top: 10px;
}

.glyphicon{
    font-size: 12px;
}

td {
 padding:2px;   
}
.fitselect{
    width:18%;
    display: inline-block;
}
.fitinput{
    width:80%;
    margin-left:2%;
    display: inline-block;
}
.fitbutton{
    width:auto;
    margin-left:2%;
   
}
.fittable{
  display: block;
    margin-top:2%;
   
}
hr.style {
border: 0;
height: 2px;
background: #0087F7;
background-image: -webkit-linear-gradient(left, #f00, #0087F7, #ffd800);
background-image: -moz-linear-gradient(left, #f00, #0087F7, #ffd800);

background-image: -o-linear-gradient(left, #f00, #0087F7, #ffd800);
}