 .navbar {
      
      border-radius: 0;
    }
.dropbox{
            border: 2px dashed #0087F7;
            border-radius: 5px;
            background: white;
		    
		    max-width: 500px;
		   
            min-height:120px;
		    text-align: center;
		    padding-top: 25px;
		    margin: 10px auto;
		}
.dragover {
		    border: 4px dashed blue;
		}
.entry:not(:first-of-type){
    margin-top: 10px;
}

.glyphicon{
    font-size: 12px;
}

td {
 padding:2px;   
}